:root {

  //  COLOR 

--color-component-white: #ffff;
--color-component-rgba: rgba(0,0,0,0);
--color-component-black: #000;
--color-component-prim: #121212;
--color-component-back: #12121289;
--color-component-main: #0070f3;

  //  FONTS

--font-general: 'General Sans', sans-serif;
--font-mix:  'General Sans', 'Clash Grotesk', sans-serif;
--font-clash:  'Clash Grotesk', sans-serif;

}

body::-webkit-scrollbar {
  width: 0;
  display: none;
}

* {
box-sizing: border-box;
padding: 0;
margin: 0;

&::selection {
  background: var(--color-component-main);
}
}

.overflow-hidden {
  overflow: hidden;
  position: fixed;
}
body {
  font-family: var(--font-mix);
  color: var(--color-component-white);
  background: var(--color-component-black);
  padding: 0 3%;
  overflow-x: hidden;

  &::selection {
    background: var(--color-component-main);
  }
}
span {
  user-select: none;
}
html {
  overflow-x: hidden;
}

a, button {
user-select: none;
cursor: pointer;

img {
  user-select: none;
}
@media only screen and (max-width: 800px) {
  cursor: none;
}
}

.scrolled {
  margin-top: 30px;
  background: rgba(0,0,0,0.5);
  padding: 32px 30px;
  backdrop-filter: blur(5px);
  border-radius: 50px;

  @media only screen and (max-width: 800px) {
    padding: 20px 10px;
    margin-top: 0;
  }
}
@media only screen and (max-width: 800px) {
  a {
    cursor: none;
  }
}
.split-text {
  font-size: 2rem;
  font-weight: bold;
  display: inline-block;
}
@keyframes slideDownAndDisappear {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    visibility: hidden;
    display: none;
    transform: translateY(100%);
  }
}

@keyframes LoaderContentFrame {
  0% {
    opacity: 0;
    color: var(--color-component-black);
    filter: none;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    animation: LoaderContentFrame 1s ease-in-out 2s forwards;
    color: var(--color-component-white);
    filter: drop-shadow(0 0 0.5rem var(--color-component-main));
  }
}
@keyframes LoaderContentFrameSecond {
  0% {
    opacity: 0;
    color: var(--color-component-black);
    filter: none;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    animation: LoaderContentFrame 1s ease-in-out 2s forwards;
    color: var(--color-component-main);
    filter: drop-shadow(0 0 0.5rem var(--color-component-main));
  }
}
@keyframes EnergyActionFrame {
  0% {
    filter: drop-shadow(0 0 0.97rem var(--color-component-main));
  }
  100% {
    filter: none;
  }
}

.custom_scroll {
  scrollbar-width: thin;
  scrollbar-color: blue yellow;
}

.custom_scroll::-webkit-scrollbar {
  width: 6px;
  display: none;
}

/* Track */
.custom_scroll::-webkit-scrollbar-track {
  background: none; 
}
 
/* Handle */
.custom_scroll::-webkit-scrollbar-thumb {
  background: var(--color-component-main);
  border-radius: 40px;
  width: 6px;
}

/* Handle on hover */
.custom_scroll::-webkit-scrollbar-thumb:hover {
  background: #555; 
}